<h1>Trip <%= @trip.id %></h1>

<ul>
  <li>
    <%= link_to 'edit', edit_trip_path(@trip.id)%>
  </li>
  <li>
    <%= link_to 'delete', trip_path(@trip.id), method: :delete ,data: {confirm: "Are you sure?"}%>
  </li>
</ul>

<ul>
  <li>Date: <%= @trip.date %></li>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver_id) %></li>
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %></li>
  <li>Rating: <%= @trip.rating %></li>
  <li>Cost: $<%= ((@trip.cost.to_f)/100).round(2) %></li>

</ul>
