<h1>Trip <%= @trip.id %></h1>

<ul>
  <li>
    <%= link_to 'edit', edit_trip_path(@trip.id)%>
  </li>
  <li>
    <% if @driver %>
      <%= link_to 'delete', driver_trip_path(@driver.id, @trip.id), method: :delete %>
    <% elsif @passenger %>
      <%= link_to 'delete', passenger_trip_path(@passenger.id, @trip.id), method: :delete %>
    <% else %>
      <%= link_to 'delete', trip_path(@trip.id), method: :delete %>
    <% end %>
  </li>
</ul>

<ul>
  <li>Date: <%= @trip.date %></li>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver_id) %></li>
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %></li>
  <li>
    <% if @trip.rating.nil? %>
      <%= render partial: "edit_rating" %>
    <% else %>
      Rating: <%= @trip.rating %>
    <% end %>
  </li>
  <li>Cost: $<%= ((@trip.cost.to_f)/100).round(2) %></li>

</ul>
