<h2><%= @passenger.name %>'s Details</h2>

<ul>
  <li>
    <%= link_to 'edit', edit_passenger_path(@passenger.id)%>
  </li>
  <li>
    <%= link_to 'delete', passenger_path(@passenger.id), method: :delete , data: {confirm: "Are you sure you want to delete #{@passenger.name}?"}%>
  </li>
</ul>

<h3>
  <% if @error %>
    <%= @error %>
  <% else @passenger.check_for_unrated_trip %>
    <%= link_to "Request a Trip", passenger_trips_path(@passenger.id), method: :post %>
  <% end %>
</h3>


<h3> Total Money Spent: $<%= @passenger.calculate_total_charged %></h3>
<h3>List of Trips</h3>
<ol>
  <% @passenger.trips.each do |trip| %>
    <li>
      <%= link_to "Trip #{trip.id}", passenger_trip_path(@passenger.id, trip.id) %> :: Driver - <%= trip.driver.name %>
    </li>
  <% end %>
</ol>
