<h2><%= @driver.name %>'s Details</h2>

<ul>
  <li>
    <%= link_to 'edit', edit_driver_path(@driver.id)%>
  </li>
  <li>
    <%= link_to 'delete', driver_path(@driver.id), method: :delete , data: {confirm: "Are you sure you want to delete #{@driver.name}?"} %>
  </li>
</ul>


<%if @driver.driver_status.nil?%>
    <%=link_to "Available Driver", available_driver_path(@driver.id), :id => "available_driver", method: :patch%>
<%else%>
  <%= link_to "Unavailable Driver", unavailable_driver_path(@driver.id), :id => "unavailable_driver", method: :patch%>
  <%end%>


<h3> Total Money Earned: $<%= @driver.calculate_total_earned %></h3>
<h3> Average Rating: <%= @driver.calculate_rating_average %></h3>
<h3>List of Trips</h3>
<ol>
  <% @driver.trips.each do |trip| %>
    <li>
      <%= link_to "Trip #{trip.id}", driver_trip_path(@driver.id, trip.id) %> :: Passenger - <%= trip.passenger.name %>
    </li>
  <% end %>
</ol>
