<h2><%= @driver.name %>'s Details</h2>

<ul>
  <li>
    <%= link_to 'edit', edit_driver_path(@driver.id)%>
  </li>
  <li>
    <%= link_to 'delete', driver_path(@driver.id), method: :delete , data: {confirm: "Are you sure you want to delete #{@driver.name}?"} %>
  </li>
</ul>


<h3> Total Money Earned: $<%= @driver.calculate_total_earned %></h3>
<h3>List of Trips</h3>
<ol>
  <% @driver.trips.each do |trip| %>
    <li>
      <%= link_to "Trip #{trip.id}", trip_path(trip.id) %> :: Passenger - <%= trip.passenger.name %>
    </li>
  <% end %>
</ol>
