<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nixie+One" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "All Passengers", passengers_path %></li>
        <li><%=link_to "All Drivers", drivers_path%></li>
        <li><%=link_to "Create new passenger", new_passenger_path %></li>
        <li><%=link_to "Create new driver", new_driver_path %></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
